
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  cursor: default;
}

h2 {
  font-family: 'Amatic SC', cursive;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}
/* clearfixes */
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.no-opacity {
  visibility: hidden;
  opacity: 0;
}

/* end of clear fix */

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.text-large {
  color: #FFF;
  font-size: 60px;
  line-height: 1;
}

.mobile-warning {
  color: #fff;
  height: 100vh;
  font-weight: 300;
  text-align: center;
}

.gs-fixed-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.gs-modal-full {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .gs-modal-container {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    z-index: 30;
    overflow-y: auto;
    display: flex;
  }
    .gs-modal-content-wrapper {
      max-width: 900px;
      margin: auto;
      padding: 20px;
    }

    .gs-modal-title {
      font-family: 'Amatic SC', cursive;
      font-size: 5em;
    }

    .gs-modal-description {
      line-height: 2;
      -webkit-user-select: none;
    }

    .gs-modal-close-btn {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 28px;
      cursor: pointer;
    }

    .gs-modal-list {
      font-size: 12px;
    }

    .gs-modal-link {
      font-weight: bold;
      cursor: pointer;
      margin-top: 20px;
    }

    .gs-modal-link:hover {
      text-decoration: underline;
    }

.gs-main-content-container {
    max-width: 560px;
    padding-top: 100px;
}
  
  .gs-logo-landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gs-logo {
    max-height: 50%;
    opacity: 0;
    padding-bottom: 20px;
  }

  .gs-row {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .gs-caret-down-container {
    position: relative;
    margin: auto;
    top: -100px;
    width: 60px;
    opacity: 0;
  }

    .gs-caret-down {
      height: 30px;
      width: 60px;
    }

  .gs-main-name {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 8em;
    margin: auto;
    line-height: 150px;
  }

  .gs-main-photo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: url(../img/headshot.jpeg);
    background-size: cover;
    margin: 0 auto;
    border: 4px solid #000;
  }

  .gs-main-description {
    margin: 0 auto;
    line-height: 2.5;
    text-align: justify;
    padding: 0px 20px;
  }

  .gs-group-title {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 5em;
  }
  
  .gs-bubble-wrapper {
    display: table;
    margin: 20px auto;
    letter-spacing: 1.2px;
  }
    .gs-bubble {
      display: table-cell;
      vertical-align: middle;
      height: 150px;
      width: 150px;
      border: 1px solid black;
      cursor: pointer;
      transition: all .3s ease-out;
    }

    .gs-skill-bubble {
      border-radius: 75px;
      background: black;
      color: white;      
    }

    .gs-skill-bubble:hover {
      color: black;
      background: white;
      transform: scale(1.1);
    }

    .gs-work-bubble:hover {
      color: white;
      background: black;
      transform: translateY(-3px);
    }

    .gs-links-bubble {
      background: black;
      color: white;
      transform: rotate(26deg);
      height: 120px;
      width: 170px;
    }

    .gs-links-bubble:hover {
      color: black;
      background: white;
      transform: rotate(20deg);
    }

.gs-testimonial-wrapper {
  min-height: 200px;
  text-align: justify;
  margin: auto;
  padding: 0 25px;
} 

  .gs-testimonial {
    font-size: 1em;
    line-height: 2.2;
  }

  .gs-testimonial-owner {
    font-family: 'Amatic SC', cursive;
    font-size: 1.6em;
    font-weight: bold;
  }

.gs-footer {
  margin-top: 80px;
}
  .gs-footer-note {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    border-top: 1px black dotted;
    padding-top: 15px;
    letter-spacing: 2px;
  }

  .gs-footer-note-2 {
    font-size: 10px;
    margin-top: 5px;
  }


/* Customize container */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .gs-modal-container {
    overflow: auto;
  }

   /* Remove the padding we set earlier */
  .gs-modal-title {
    font-size: 4em;
  }

  .gs-main-name {
    font-size: 4.8em;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .gs-modal-container {
    overflow: auto;
  }
}

.md-effect {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
}

.md-show.md-effect {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
