
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  -webkit-user-select: none;
}

h2 {
  font-family: 'Amatic SC', cursive;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
/* clearfixes */
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* end of clear fix */

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.text-large {
  color: #FFF;
  font-size: 60px;
  line-height: 1;
}

.mobile-warning {
  color: #fff;
  height: 100vh;
  font-weight: 300;
  text-align: center;
}

.gs-fixed-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.gs-main-content-container {
    width: 560px;
    padding-top: 100px;
}
  .gs-row {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .gs-main-name {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 8em;
    margin: auto;
    line-height: 150px;
  }

  .gs-main-photo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: url(../img/headshot.jpg);
    background-size: cover;
    margin: 0 auto;
    border: 4px solid #000;
  }

  .gs-main-description {
    margin: 0 auto;
    line-height: 2.5;
    text-align: justify;
  }

  .gs-group-title {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 5em;
  }
  
  .gs-bubble-wrapper {
    display: table;
    margin: 20px auto;
    letter-spacing: 1.2px
  }
    .gs-bubble {
      display: table-cell;
      vertical-align: middle;
      height: 150px;
      width: 150px;
      border: 1px solid black;
      cursor: pointer;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }

    .gs-skill-bubble {
      border-radius: 75px;
    }

    .gs-skill-bubble:hover {
      color: white;
      background: black;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }

    .gs-work-bubble:hover {
      color: white;
      background: black;
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }

    .gs-links-bubble {
      background: black;
      color: white;
      -webkit-transform: rotate(26deg);
              transform: rotate(26deg);
    }

    .gs-links-bubble:hover {
      color: black;
      background: white;
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
    }

.gs-footer {
  margin-top: 80px;
}
  .gs-footer-note {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    border-top: 1px black dotted;
    padding-top: 15px;
    letter-spacing: 2px;
  }

  .gs-footer-note-2 {
    font-size: 10px;
    margin-top: 5px;
  }

/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

}
